@{
    ViewData["Title"] = "Delete contact";
}
<div class="text-center">
    <h3>Are you sure that you want to delete this contact?</h3>
</div>
<a class="btn btn-primary w-100" asp-controller="Contact" asp-action="Index" role="button">Cancel</a>
<a class="btn btn-danger w-100" role="button">Confirm</a>